<html>
  <head>
    <title>WowGPT</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- SEO -->
    <meta
      name="title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      name="description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      name="keywords"
      content="ChatGPT, AI, OpenAI, искусственный интеллект, русский язык, помощник, генерация текста, WowGPT, GPT, нейросеть, AI на русском, доступ без VPN"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="WowGPT Team" />
    <meta name="language" content="Russian" />

    <!-- Meta-теги для социальных сетей (Open Graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wowgpt.ru" />
    <meta
      property="og:title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      property="og:description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      property="og:image"
      content="https://assets.wowgpt.ru/og-image-1.png"
    />

    <!-- Meta-теги для Twitter (карточки) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wowgpt.ru" />
    <meta
      property="twitter:title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      property="twitter:description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      property="twitter:image"
      content="https://assets.wowgpt.ru/og-image-1.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

      body {
        font-family: 'Rubik', sans-serif !important;
        font-weight: 400;
        font-size: 1.1rem;
        max-width: 820px;
        padding: 16px;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 3rem;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
      }

      table {
        border-collapse: collapse;
        border: 1px solid grey;
      }

      td {
        border-collapse: collapse;
        border: 1px dotted grey;
        padding-left: 6px;
        padding-right: 6px;
      }

      th {
        border-collapse: collapse;
        border: 1px solid grey;
        padding-left: 6px;
        padding-right: 6px;
      }

      a {
        color: #1976d2;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }

      a:visited {
        color: #ad1457;
      }
    </style>
  </head>
  <body>
    <h1>ПУБЛИЧНАЯ ОФЕРТА<br />о заключении договора об оказании услуг</h1>
    <p><strong>1. Общие положения</strong></p>
    <p>
      Настоящая Публичная оферта (далее — &quot;Оферта&quot;) содержит условия
      заключения Договора об оказании услуг (далее — &quot;Договор&quot;) между
      Индивидуальным предпринимателем Сидоровым Петром Петровичем (далее —
      &quot;Исполнитель&quot;) и дееспособным физическим лицом, достигшим
      возраста 18 лет (далее — &quot;Заказчик&quot;). Настоящая Оферта является
      официальным предложением Исполнителя заключить Договор на изложенных ниже
      условиях в соответствии с пунктом 2 статьи 437 Гражданского кодекса
      Российской Федерации.
    </p>
    <p>
      Акцептом настоящей Оферты считается совершение Заказчиком конклюдентных
      действий, включая, но не ограничиваясь, регистрацию на Сайте, оформление
      Подписки, оплату услуг или использование Сервиса.
    </p>
    <p><strong>2. Термины и определения</strong></p>
    <p>В целях настоящего Договора используются следующие термины:</p>
    <ul>
      <li>
        <p>
          <strong>Подписка</strong> — право на доступ к услугам Сервиса,
          предоставляемое Заказчику на определенный срок в зависимости от
          выбранного тарифа, включающее определенное количество сообщений или
          других лимитов.
        </p>
      </li>
      <li>
        <p>
          <strong>Услуга</strong> — предоставление доступа к функциям Сервиса в
          рамках активной Подписки в порядке и на условиях, изложенных в
          настоящей Оферте.
        </p>
      </li>
      <li>
        <p>
          <strong>Договор</strong> — настоящий документ с изменениями и
          дополнениями, опубликованный на Сайте, акцептованный Заказчиком путем
          совершения конклюдентных действий.
        </p>
      </li>
      <li>
        <p>
          <strong>Сайт</strong> — информационная система Исполнителя, доступная
          в сети Интернет по доменному имени и сетевому адресу
          <a href="https://www.wowgpt.ru">www.wowgpt.ru</a>, используемая
          Заказчиком для доступа к Услугам.
        </p>
      </li>
      <li>
        <p>
          <strong>Провайдер авторизации</strong> — сторонний сервис OAuth,
          используемый для идентификации и авторизации Заказчика на Сайте.
        </p>
      </li>
      <li>
        <p>
          <strong>Заказчик</strong> — дееспособное физическое лицо, достигшее
          возраста 18 лет, акцептовавшее Оферту и использующее Сервис на
          условиях Договора.
        </p>
      </li>
      <li>
        <p>
          <strong>Сервис</strong> — программно-аппаратный комплекс,
          обеспечивающий предоставление Услуг Заказчику через Сайт.
        </p>
      </li>
      <li>
        <p>
          <strong>Сообщение</strong> — единица взаимодействия Заказчика с
          чат-ботом, включающая один запрос и полученный на него ответ.
        </p>
      </li>
    </ul>
    <p><strong>3. Предмет Договора</strong></p>
    <p>
      3.1. Исполнитель обязуется оказать Заказчику услуги по предоставлению
      доступа к сервису чат-бота в рамках выбранной Подписки, а Заказчик
      обязуется оплатить их (при выборе платной Подписки) в размере и порядке,
      установленном настоящим Договором.
    </p>
    <p>
      3.2. Оказание услуг осуществляется на основании сведений, предоставляемых
      Заказчиком при регистрации на Сайте и оформлении Подписки.
    </p>
    <p>
      3.3. Исполнитель имеет право привлекать третьих лиц, включая платежные
      системы и провайдеров авторизации, для исполнения своих обязательств по
      Договору.
    </p>
    <p>
      3.4. Договор считается заключенным с момента акцепта Заказчиком,
      выраженного через регистрацию на Сайте, оформление Подписки, оплату услуг
      или фактическое использование Сервиса.
    </p>
    <p><strong>4. Услуги и условия доступа</strong></p>
    <p>
      4.1. Исполнитель предоставляет Заказчику доступ к искусственным
      интеллектам (нейросетям) различных версий, включая ChatGPT и Kandinsky
      3.1, которые по запросу выдают информацию в виде текста, изображений или
      иным образом.
    </p>
    <p>
      4.2. Подписки различаются по количеству доступных сообщений в день и сроку
      действия:
    </p>
    <ul>
      <li><strong>Бесплатная</strong>: 7 сообщений в день на 31 день.</li>
      <li><strong>Базовая</strong>: 41 сообщение в день на 31 день.</li>
      <li>
        <strong>Daily Boost</strong>: 151 сообщение в течение 1 дня. На период
        действия Daily Boost предыдущая Подписка замораживается.
      </li>
    </ul>
    <p>
      Актуальная информация о ценах и условиях Подписок доступна на Сайте
      Исполнителя.
    </p>
    <p>
      4.3. Дополнительная функциональность (поиск в Интернете, генерация и
      распознавание изображений) предоставляется &quot;как есть&quot; и может
      быть изменена или отключена без предварительного уведомления Заказчика.
    </p>
    <p><strong>4.4. Порядок активации Подписки</strong></p>
    <p>
      4.4.1. После успешной оплаты выбранной Подписки Заказчику предоставляется
      доступ к расширенным возможностям Сервиса в течение срока действия
      Подписки.
    </p>
    <p>
      4.4.2. Информация о текущей Подписке и оставшихся лимитах доступна в
      личном кабинете Заказчика на Сайте.
    </p>
    <p><strong>4.5. Технические требования</strong></p>
    <p>
      4.5.1. Для корректной работы Сервиса Заказчику необходимо иметь устройство
      с доступом в Интернет и современный веб-браузер.
    </p>
    <p><strong>5. Права и обязанности Сторон</strong></p>
    <p>5.1. <strong>Исполнитель обязуется</strong>:</p>
    <ul>
      <li>
        Предоставлять Заказчику доступ к Услугам в соответствии с условиями
        Договора.
      </li>
      <li>
        Обеспечивать конфиденциальность персональных данных Заказчика в
        соответствии с действующим законодательством.
      </li>
      <li>
        <p>
          Уведомлять Заказчика об изменениях условий Оферты путем публикации
          новой редакции на Сайте.
        </p>
        <p>5.2. <strong>Исполнитель вправе</strong>:</p>
      </li>
      <li>
        <p>
          Изменять условия и стоимость Подписок в одностороннем порядке,
          публикуя такие изменения на Сайте.
        </p>
      </li>
      <li>
        Приостанавливать доступ Заказчика к Услугам в случае нарушения условий
        Договора.
      </li>
      <li>
        <p>Привлекать третьих лиц для исполнения своих обязательств.</p>
        <p>5.3. <strong>Заказчик обязуется</strong>:</p>
      </li>
      <li>
        <p>
          Предоставлять достоверные данные при регистрации и оформлении
          Подписки.
        </p>
      </li>
      <li>
        Своевременно оплачивать услуги Исполнителя (при выборе платной
        Подписки).
      </li>
      <li>Соблюдать лимиты и ограничения, установленные по Подписке.</li>
      <li>
        Не предпринимать действий, направленных на обход технических ограничений
        Сервиса.
      </li>
      <li>
        <p>
          Не использовать Сервис для действий, противоречащих законодательству
          Российской Федерации.
        </p>
        <p>5.4. <strong>Заказчик вправе</strong>:</p>
      </li>
      <li>
        <p>
          Использовать сгенерированный контент по своему усмотрению, не нарушая
          законодательства Российской Федерации и прав третьих лиц.
        </p>
      </li>
      <li>
        Отменить автопродление Подписки на Сайте или путем направления
        уведомления на электронную почту Исполнителя.
      </li>
    </ul>
    <p><strong>6. Цена и порядок расчетов</strong></p>
    <p>
      6.1. Стоимость платных Подписок устанавливается на Сайте Исполнителя. Все
      расчеты осуществляются в безналичном порядке через платежные системы,
      указанные на Сайте.
    </p>
    <p>
      6.2. Оплата считается совершенной с момента зачисления денежных средств на
      расчетный счет Исполнителя.
    </p>
    <p>
      6.3. Исполнитель не несет ответственности за невозможность оказания услуг
      в случае отказа платежной системы провести платеж.
    </p>
    <p><strong>6.4. Автопродление Подписки</strong></p>
    <p>
      6.4.1. При оформлении платной Подписки Заказчик выражает согласие на
      автоматическое продление Подписки по истечении ее срока действия с
      автоматическим списанием соответствующей суммы с его платежного средства.
    </p>
    <p>
      6.4.2. Исполнитель обязуется уведомлять Заказчика о предстоящем продлении
      не позднее чем за 3 (три) дня до даты списания посредством электронного
      письма на указанный Заказчиком адрес.
    </p>
    <p>
      6.4.3. Заказчик вправе в любой момент отключить функцию автопродления в
      личном кабинете или путем направления уведомления Исполнителю.
    </p>
    <p><strong>7. Порядок расторжения Договора и возврат средств</strong></p>
    <p>
      7.1. Заказчик вправе в любое время отказаться от продления Подписки путем
      отключения функции автопродления на Сайте или направления соответствующего
      уведомления на электронную почту Исполнителя.
    </p>
    <p>7.2. <strong>Порядок возврата денежных средств</strong></p>
    <p>
      7.2.1. Возврат денежных средств за неиспользованный период платной
      Подписки возможен в следующих случаях:
    </p>
    <ul>
      <li>
        При наличии технических проблем на стороне Исполнителя, делающих
        использование Сервиса невозможным в течение более чем 72 (семидесяти
        двух) часов подряд.
      </li>
      <li>
        <p>При ошибочном списании денежных средств по вине Исполнителя.</p>
        <p>
          7.2.2. Для оформления возврата Заказчик должен направить
          соответствующее заявление на электронную почту Исполнителя с указанием
          причины возврата и приложением подтверждающих документов.
        </p>
        <p>
          7.2.3. Срок рассмотрения заявки на возврат составляет 10 (десять)
          рабочих дней с даты получения заявления.
        </p>
        <p>
          7.2.4. Возврат денежных средств осуществляется тем же способом,
          которым была произведена оплата.
        </p>
        <p>
          7.3. По окончании срока действия Подписки услуги считаются оказанными
          надлежащим образом и в полном объеме, и претензии по качеству услуг не
          принимаются.
        </p>
      </li>
    </ul>
    <p>
      <strong>8. Конфиденциальность и обработка персональных данных</strong>
    </p>
    <p>
      8.1. При исполнении настоящего Договора Стороны обязуются обеспечивать
      конфиденциальность и безопасность персональных данных в соответствии с
      Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».
    </p>
    <p>
      8.2. Заказчик дает согласие на обработку следующих персональных данных:
    </p>
    <ul>
      <li>Фамилия, имя, отчество (при предоставлении).</li>
      <li>Адрес электронной почты.</li>
      <li>IP-адрес.</li>
      <li>
        <p>
          Информация об электронном средстве платежа (без передачи полных данных
          платежных карт).
        </p>
        <p>
          8.3. Обработка персональных данных осуществляется в целях
          предоставления услуг, улучшения работы Сервиса и исполнения
          обязательств по Договору.
        </p>
        <p>
          8.4. Срок хранения персональных данных — до момента отзыва согласия
          Заказчиком. Заказчик может отозвать согласие на обработку персональных
          данных путем направления уведомления на электронную почту Исполнителя.
        </p>
        <p>
          8.5. Исполнитель также обрабатывает файлы cookie посетителей Сайта для
          улучшения работы Сервиса.
        </p>
        <p>
          8.6.
          <strong
            >Акцептуя настоящую Оферту, Заказчик подтверждает свое согласие на
            обработку персональных данных в соответствии с условиями настоящего
            Договора и Политики конфиденциальности.</strong
          >
        </p>
      </li>
    </ul>
    <p><strong>9. Интеллектуальная собственность</strong></p>
    <p>
      9.1. Все объекты интеллектуальной собственности, доступные через Сервис
      (программы, базы данных, тексты, изображения и пр.), являются
      собственностью Исполнителя или иных правообладателей.
    </p>
    <p>9.2. <strong>Права на сгенерированный контент</strong></p>
    <p>
      9.2.1. Исключительные права на сгенерированный с помощью Сервиса контент
      принадлежат Исполнителю.
    </p>
    <p>
      9.2.2. Исполнитель предоставляет Заказчику неисключительную лицензию на
      использование сгенерированного контента без ограничения территории и срока
      действия для личных и коммерческих целей.
    </p>
    <p>
      9.2.3. Заказчик вправе воспроизводить, распространять, публично отображать
      и иным образом использовать сгенерированный контент в соответствии с
      законодательством Российской Федерации.
    </p>
    <p>
      9.3. Заказчик несет ответственность за использование сгенерированного
      контента в коммерческих целях, если такое использование нарушает права
      третьих лиц или законодательство Российской Федерации.
    </p>
    <p><strong>10. Ответственность сторон</strong></p>
    <p>
      10.1. Исполнитель несет ответственность за неисполнение или ненадлежащее
      исполнение своих обязательств по Договору в соответствии с
      законодательством Российской Федерации.
    </p>
    <p>
      10.2.
      <strong
        >Исполнитель не несет ответственности за косвенные убытки и упущенную
        выгоду Заказчика.</strong
      >
    </p>
    <p>10.3. Исполнитель не несет ответственности за:</p>
    <ul>
      <li>
        Перебои в работе Сервиса, вызванные техническими сбоями, действиями
        третьих лиц или форс-мажорными обстоятельствами.
      </li>
      <li>
        Неудовлетворенность Заказчика качеством работы Сервиса, если услуги были
        предоставлены в соответствии с условиями Договора.
      </li>
      <li>
        <p>
          Действия Заказчика, нарушающие условия Договора или законодательство
          Российской Федерации.
        </p>
        <p>10.4. Заказчик несет ответственность за:</p>
      </li>
      <li>
        <p>
          Достоверность предоставляемых данных при регистрации и оформлении
          Подписки.
        </p>
      </li>
      <li>Соблюдение условий использования Сервиса.</li>
      <li>
        Нарушение прав третьих лиц при использовании сгенерированного контента.
      </li>
    </ul>
    <p><strong>11. Форс-мажор</strong></p>
    <p>
      11.1. Стороны освобождаются от ответственности за неисполнение
      обязательств по Договору в случае наступления обстоятельств непреодолимой
      силы (форс-мажор), предусмотренных законодательством Российской Федерации,
      включая, но не ограничиваясь: природными катастрофами, пожарами,
      наводнениями, землетрясениями, войнами, военными действиями, актами
      органов государственной власти, забастовками, массовыми беспорядками, а
      также иными обстоятельствами, находящимися вне разумного контроля сторон.
    </p>
    <p>
      11.2. Сторона, для которой создалась невозможность исполнения
      обязательств, обязана незамедлительно уведомить другую Сторону о
      наступлении и прекращении форс-мажорных обстоятельств.
    </p>
    <p>
      11.3. В случае, если форс-мажорные обстоятельства продолжаются более 60
      (шестидесяти) дней, каждая из Сторон вправе расторгнуть Договор, уведомив
      об этом другую Сторону.
    </p>
    <p><strong>12. Порядок разрешения споров</strong></p>
    <p>
      12.1. Стороны обязуются урегулировать все возникающие споры и разногласия
      путем переговоров и претензионного порядка.
    </p>
    <p>
      12.2. Претензии направляются в письменной форме на электронную почту
      другой Стороны. Срок рассмотрения претензии составляет 14 (четырнадцать)
      календарных дней с даты ее получения.
    </p>
    <p>
      12.3. В случае невозможности урегулирования спора путем переговоров, спор
      подлежит рассмотрению в суде по месту нахождения Исполнителя в
      соответствии с законодательством Российской Федерации.
    </p>
    <p><strong>13. Срок действия Оферты и изменение условий</strong></p>
    <p>
      13.1. Настоящая Оферта вступает в силу с момента ее публикации на Сайте и
      действует до момента ее отзыва Исполнителем.
    </p>
    <p>
      13.2. Исполнитель вправе вносить изменения в Оферту в одностороннем
      порядке. Новая редакция Оферты вступает в силу с момента ее публикации на
      Сайте.
    </p>
    <p>
      13.3. Продолжение использования Сервиса после внесения изменений в Оферту
      означает согласие Заказчика с такими изменениями.
    </p>
    <p>
      13.4.
      <strong
        >Исполнитель обязуется уведомлять действующих Заказчиков об изменениях в
        Оферте не менее чем за 10 (десять) дней до их вступления в силу
        посредством направления сообщения на электронную почту Заказчика или
        путем размещения уведомления в личном кабинете.</strong
      >
    </p>
    <p><strong>14. Дополнительные условия</strong></p>
    <p>
      14.1. Настоящий Договор и отношения между Сторонами регулируются
      законодательством Российской Федерации.
    </p>
    <p>
      14.2. Если иное не предусмотрено законодательством Российской Федерации, к
      отношениям между Сторонами применяются нормы Гражданского кодекса
      Российской Федерации.
    </p>
    <p>
      14.3. Недействительность или несостоятельность какого-либо положения
      настоящего Договора не влияет на действительность остальных положений
      Договора.
    </p>
    <p>
      14.4. Все уведомления и сообщения в рамках Договора направляются Сторонами
      друг другу на электронные адреса, указанные при регистрации или в разделе
      &quot;Контакты&quot; на Сайте.
    </p>
    <p>
      14.5. Языком настоящего Договора и взаимодействия между Сторонами является
      русский язык.
    </p>
    <p>
      14.6.
      <strong
        >В части, не урегулированной настоящим Договором, к отношениям между
        Сторонами применяются положения законодательства Российской Федерации,
        включая Закон РФ от 07.02.1992 № 2300-1 &quot;О защите прав
        потребителей&quot;.</strong
      >
    </p>
    <p><strong>15. Реквизиты Исполнителя</strong></p>
    <p>
      Полное наименование: Индивидуальный предприниматель Александров Егор
      МИхайлович ИНН: 772830329462 ОГРН/ОГРНИП: 324774600739486 Контактный
      телефон: +7 909 954-55-03 Контактный e-mail:
      <a href="mailto:hello@wowgpt.ru">hello@wowgpt.ru</a>
    </p>
    <p><strong>Приложение: Политика конфиденциальности</strong></p>
    <p>
      (Политика конфиденциальности доступна по ссылке:
      <a href="/privacy">https://wowgpt.ru/privacy</a>)
    </p>
    <p><strong>Заключительные положения</strong></p>
    <p>
      Заказчик подтверждает, что ознакомился с условиями настоящей Оферты,
      понимает их и принимает в полном объеме, без каких-либо изъятий и
      ограничений.
    </p>
    <p>
      Если у вас возникнут дополнительные вопросы или потребуется уточнение
      отдельных положений Договора, вы можете обратиться к Исполнителю по
      указанным выше контактным данным.
    </p>
  </body>
</html>
