<html>
  <head>
    <title>WowGPT</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- SEO -->
    <meta
      name="title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      name="description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      name="keywords"
      content="ChatGPT, AI, OpenAI, искусственный интеллект, русский язык, помощник, генерация текста, WowGPT, GPT, нейросеть, AI на русском, доступ без VPN"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="WowGPT Team" />
    <meta name="language" content="Russian" />

    <!-- Meta-теги для социальных сетей (Open Graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wowgpt.ru" />
    <meta
      property="og:title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      property="og:description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      property="og:image"
      content="https://assets.wowgpt.ru/og-image-1.png"
    />

    <!-- Meta-теги для Twitter (карточки) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wowgpt.ru" />
    <meta
      property="twitter:title"
      content="WowGPT - Доступ к ChatGPT от OpenAI на русском языке"
    />
    <meta
      property="twitter:description"
      content="WowGPT предоставляет доступ к мощному AI-ассистенту ChatGPT от OpenAI на русском языке. Используйте для учебы, работы и творчества без VPN и сложностей."
    />
    <meta
      property="twitter:image"
      content="https://assets.wowgpt.ru/og-image-1.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

      body {
        font-family: 'Rubik', sans-serif !important;
        font-weight: 400;
        font-size: 1.1rem;
        max-width: 820px;
        padding: 16px;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 3rem;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
      }

      table {
        border-collapse: collapse;
        border: 1px solid grey;
      }

      td {
        border-collapse: collapse;
        border: 1px dotted grey;
        padding-left: 6px;
        padding-right: 6px;
      }

      th {
        border-collapse: collapse;
        border: 1px solid grey;
        padding-left: 6px;
        padding-right: 6px;
      }

      a {
        color: #1976d2;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }

      a:visited {
        color: #ad1457;
      }
    </style>
  </head>
  <body>
    <h1 id="-">Политика обработки персональных данных</h1>
    <h2 id="1-">1. Общие положения</h2>
    <p>
      Настоящая политика обработки персональных данных составлена в соответствии
      с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных
      данных» (далее — Закон о персональных данных) и определяет порядок
      обработки персональных данных и меры по обеспечению их безопасности,
      принимаемые ИП Александровым Егором Михайловичем (далее — Оператор).
    </p>
    <p>
      1.1. Оператор ставит целью соблюдение прав и свобод человека и гражданина
      при обработке его персональных данных, включая защиту прав на
      неприкосновенность частной жизни, личную и семейную тайну.
    </p>
    <p>
      1.2. Настоящая Политика Оператора в отношении обработки персональных
      данных (далее — Политика) применяется ко всей информации, которую Оператор
      может получить о посетителях веб-сайта
      <a href="https://wowgpt.ru">https://wowgpt.ru</a>.
    </p>
    <p>
      1.3. Согласие на обработку персональных данных выражается Пользователем
      путем проставления отметки в соответствующем поле при регистрации на Сайте
      или при оформлении заказа, что свидетельствует о принятии условий
      настоящей Политики.
    </p>
    <h2 id="2-">2. Основные понятия, используемые в Политике</h2>
    <ul>
      <li>
        <strong>Автоматизированная обработка персональных данных</strong> —
        обработка данных с помощью вычислительной техники.
      </li>
      <li>
        <strong>Блокирование персональных данных</strong> — временное
        прекращение их обработки.
      </li>
      <li>
        <strong>Веб-сайт</strong> —
        <a href="https://wowgpt.ru">https://wowgpt.ru</a>.
      </li>
      <li>
        <strong>Информационная система персональных данных</strong> —
        совокупность технологий и средств, обеспечивающих обработку данных.
      </li>
      <li>
        <strong>Обезличивание персональных данных</strong> — действия, делающие
        невозможным определение принадлежности данных конкретному Пользователю.
      </li>
      <li>
        <strong>Обработка персональных данных</strong> — любые действия с
        персональными данными, включая сбор, хранение, передачу, обезличивание,
        удаление.
      </li>
      <li>
        <strong>Оператор</strong> — лицо, обрабатывающее персональные данные и
        определяющее цели этой обработки.
      </li>
      <li>
        <strong>Персональные данные</strong> — информация, относящаяся к
        определенному или определяемому Пользователю веб-сайта
        <a href="https://wowgpt.ru">https://wowgpt.ru</a>.
      </li>
      <li><strong>Пользователь</strong> — посетитель сайта.</li>
      <li>
        <strong>Распространение персональных данных</strong> — раскрытие данных
        неограниченному кругу лиц.
      </li>
      <li>
        <strong>Трансграничная передача персональных данных</strong> — передача
        данных на территорию иностранного государства.
      </li>
    </ul>
    <h2 id="3-">3. Основные права и обязанности Оператора</h2>
    <p><strong>Оператор имеет право:</strong></p>
    <ul>
      <li>Получать достоверные данные от субъектов персональных данных.</li>
      <li>
        Продолжать обработку данных при отзыве согласия субъектом данных, если
        есть основания, указанные в Законе.
      </li>
      <li>
        Определять меры для обеспечения выполнения обязанностей по защите
        данных.
      </li>
    </ul>
    <p><strong>Оператор обязан:</strong></p>
    <ul>
      <li>Предоставлять субъектам данные о процессе обработки их данных.</li>
      <li>
        Обеспечивать обработку данных в соответствии с законодательством РФ.
      </li>
      <li>
        Принимать меры для защиты данных от несанкционированного доступа и
        неправомерных действий.
      </li>
    </ul>
    <h2 id="4-">
      4. Основные права и обязанности субъектов персональных данных
    </h2>
    <p><strong>Субъекты данных имеют право:</strong></p>
    <ul>
      <li>Получать информацию об обработке своих данных.</li>
      <li>Требовать уточнения, блокирования или уничтожения своих данных.</li>
      <li>Отозвать согласие на обработку данных.</li>
    </ul>
    <p><strong>Субъекты данных обязаны:</strong></p>
    <ul>
      <li>Предоставлять Оператору достоверные данные.</li>
      <li>Сообщать об изменениях в своих данных.</li>
    </ul>
    <h2 id="5-">5. Принципы обработки персональных данных</h2>
    <ul>
      <li>
        Обработка данных осуществляется на законной и справедливой основе.
      </li>
      <li>Данные обрабатываются для конкретных, законных целей.</li>
      <li>
        Хранение данных осуществляется не дольше, чем этого требуют цели
        обработки.
      </li>
    </ul>
    <h2 id="6-">6. Цели обработки персональных данных</h2>
    <table>
      <thead>
        <tr>
          <th>Цель обработки</th>
          <th>
            Предоставление доступа Пользователю к сервисам, информации и/или
            материалам, содержащимся на веб-сайте.
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Персональные данные</td>
          <td>
            Фамилия, имя, отчество; электронный адрес; год, месяц, дата и место
            рождения; IP-адрес.
          </td>
        </tr>
        <tr>
          <td>Правовые основания</td>
          <td>
            Федеральный закон «Об информации, информационных технологиях и о
            защите информации» от 27.07.2006 № 149-ФЗ.
          </td>
        </tr>
        <tr>
          <td>Виды обработки персональных данных</td>
          <td>
            Сбор, запись, систематизация, накопление, хранение, уничтожение и
            обезличивание персональных данных; отправка информационных писем на
            адрес электронной почты.
          </td>
        </tr>
      </tbody>
    </table>
    <h2 id="7-">7. Условия обработки персональных данных</h2>
    <p>
      7.1. Обработка данных осуществляется с согласия субъекта. 7.2. Обработка
      необходима для выполнения обязанностей, возложенных на Оператора. 7.3.
      Обработка может быть необходима для исполнения договора с субъектом
      данных.
    </p>
    <h2 id="8-">
      8. Порядок сбора, хранения, передачи и других видов обработки персональных
      данных
    </h2>
    <p>
      8.1. Оператор обеспечивает безопасность данных, исключая доступ к ним
      неуполномоченных лиц. Персональные данные не передаются третьим лицам без
      согласия субъекта данных. Пользователь может актуализировать данные,
      направив уведомление на <strong>hello@wowgpt.ru</strong> с пометкой
      «Актуализация персональных данных».
    </p>
    <p>
      8.2. Оператор использует файлы cookie и аналогичные технологии для
      улучшения работы Сайта, предоставления персонализированного контента и
      анализа трафика. Файлы cookie представляют собой небольшие файлы, которые
      сохраняются на устройстве Пользователя при посещении Сайта. Пользователь
      может настроить параметры использования файлов cookie в настройках своего
      браузера.
    </p>
    <p>
      8.3. Вся информация, которая собирается сторонними сервисами, включая
      платежные системы, средства связи и других поставщиков услуг, хранится и
      обрабатывается указанными лицами в соответствии с их Пользовательскими
      соглашениями и Политиками конфиденциальности. Пользователь обязуется
      самостоятельно ознакомиться с этими документами. Оператор не несет
      ответственности за действия третьих лиц, включая указанных поставщиков
      услуг.
    </p>
    <h2 id="9-">9. Перечень действий с персональными данными</h2>
    <p>
      Оператор осуществляет сбор, запись, хранение, обезличивание, блокирование,
      удаление персональных данных.
    </p>
    <h2 id="10-">10. Трансграничная передача персональных данных</h2>
    <p>
      Передача данных в другое государство требует уведомления уполномоченного
      органа и получения разрешения.
    </p>
    <h2 id="11-">11. Конфиденциальность персональных данных</h2>
    <p>
      Оператор обязуется не раскрывать данные без согласия субъекта, если иное
      не предусмотрено законом.
    </p>
    <h2 id="12-">12. Заключительные положения</h2>
    <ul>
      <li>
        Пользователь может получить разъяснения по вопросам обработки данных по
        адресу <strong>hello@wowgpt.ru</strong>.
      </li>
      <li>
        Все изменения Политики будут опубликованы на сайте
        <a href="https://wowgpt.ru/privacy">https://wowgpt.ru/privacy</a>.
      </li>
    </ul>
  </body>
</html>
