// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
  font-size: 1.1rem;
}

.body--dark {
  --q-primary: #b388ff; /* Темный цвет для основной темы */
  --q-secondary: #171717; /* Темный цвет для второстепенной темы */
  --q-accent: #ff7043; /* Акцентный цвет в темной теме */
  --q-positive: #00e676; /* Позитивный цвет для темной темы */
  --q-negative: #d32f2f; /* Отрицательный цвет для темной темы */
  --q-info: #00bcd4; /* Информационный цвет для темной темы */
  --q-warning: #ffa000; /* Цвет предупреждения для темной темы */
  --q-dark-page: #212121; /* Фон страницы для темной темы */
  --q-dark: #171717; /* Фон страницы для темной темы */
  --q-message-bubble: #2f2f2f;
  --q-message-bubble-text: #fafafa;
}

.body--light {
  --q-primary: #7e57c2; /* Основной цвет для светлой темы */
  --q-secondary: rgb(243, 244, 246); /* Второстепенный цвет для светлой темы */
  --q-accent: #ff7f50; /* Акцентный цвет для светлой темы */
  --q-positive: #21ba45; /* Позитивный цвет для светлой темы */
  --q-negative: #ef5350; /* Отрицательный цвет для светлой темы */
  --q-info: #31ccec; /* Информационный цвет для светлой темы */
  --q-warning: #ffca28; /* Цвет предупреждения для светлой темы */
  --q-light-page: #ffffff; /* Фон страницы для светлой темы */
  --q-message-bubble: #f0f0f0;
  --q-message-bubble-text: #010101;
}

.q-layout__section--marginal {
  background-color: unset;
  color: unset;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}

.q-notification {
  box-shadow: none;
  border-radius: 20px;
}

.q-notification__message {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.05;
}

.q-notification .q-btn {
  padding: 0;
}

/* Для WebKit-браузеров (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикальной полосы прокрутки */
  height: 8px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Полупрозрачный трек */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(126, 87, 194, 0.4); /* Полупрозрачный ползунок */
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Добавляет пространство вокруг ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(126, 87, 194, 0.6); /* Темнее при наведении */
}

.q-message-text {
  border-radius: 20px 20px 0px 20px;
  padding: 15px;
}
.q-message-text--sent::before {
  color: var(--q-message-bubble);
}
.q-message-text--sent {
  background: var(--q-message-bubble);
}
.q-message-text-content--sent {
  color: var(--q-message-bubble-text);
}
.q-message__image {
  height: 64px;
  border-radius: 20px;
  margin-bottom: -20px;
  margin-right: 24px;
}

.q-rating__icon {
  text-shadow: none !important;
}
